@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@400;500;600&family=Lato:wght@300&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@400;500;600&family=Lato:wght@300&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-right {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}

.footer-center {
  display: flex;
  gap: 78px;
}

.footer-line {
  width: 505px;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}

.footer-right-lists {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.main-middle {
  display: flex;
}

.main-top-line {
  width: 505px;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-middle-line {
  width: 1px;
  height: 870.001px;
  background: rgba(0, 0, 0, 0.3);
}

.header-top {
  display: flex;
  background-image: url(/image/header-background.svg);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.avatar {
  display: flex;
  padding-top: 20px;
}

.FIO {
  display: flex;
  padding-top: 18px;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.WEB-text {
  display: flex;
  padding-top: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.header-bottom {
  display: flex;
  gap: 38px;
  padding-top: 20px;
}

.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main-left {
  display: flex;
  flex-direction: column;
}

/* Блок с текстом */

.text-header {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.main-text-left1 {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-decoration-line: underline;
  padding-top: 35px;
}

.main-left-top-text {
  color: #000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  padding-top: 14px;
}

.main-left-second-text {
  color: #000;
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
  padding-top: 3px;
  margin-left: 12px;
}

.main-left-third-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
  padding-top: 5px;
  margin-left: 12px;
}

.main-left-lists-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 144.444% */
}

ul {
  padding: 0; /* Убираем поля */
  margin-left: 22px; /* Отступ слева */
  padding-top: 15px;
}

.main-left {
  margin-left: 40px;
}

.hello {
  padding-top: 11px;
}

.main-last-block-text1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
  padding-top: 4px;
  margin-right: 14px;
}

.footer-left-text {
  color: var(--primary-gray, #667085);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 48px;
  padding-bottom: 19px;
}

.footer-right-link {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-decoration-line: underline;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.footer-right-lists {
  gap: 14px;
  padding-top: 18px;
}

.footer-text-list {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
}

.main-right-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
  padding-top: 14px;
}

.english-text {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-top: 44px;
}

.english-text2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
  padding-top: 15px;
}

.text-a1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
}

.text-c2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.09px;
}

.main-text-list {
  display: flex;
  gap: 142px;
}

.hobby-text {
  padding-top: 63px;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.hobby-list {
  width: 165px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 144.444% */
}

.main-submit-block {
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
  background: #fef9f5;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 206px;
  height: 177px;
  flex-shrink: 0;
}

.input-name {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  outline: none;
}

.square {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 17px;
}

.text-field {
  width: 173px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 1px;
  border: 0.5px solid rgba(0, 0, 0, 0.7);
  background: #fef9f5;
  padding-left: 7px;
  color: #000;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

.text-field:focus {
  outline: none;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  gap: 8px;
  padding-bottom: 16px;
}

.input-text1 {
  color: #000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  padding-top: 11px;
}

.input-text2 {
  color: #000;
  font-family: Roboto;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  padding-top: 4px;
}

.otsup-submit-block {
  padding-top: 38px;
  padding-left: 32px;
}

.submit-block {
  display: flex;
  justify-content: center;
}

.button-submit {
  width: 80px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #d6a8a8;
  color: #000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}

.button-submit:active {
  color: rgb(143, 32, 198);
}

.button-submit:hover {
  background: rgba(27, 125, 149, 0.2);
}

.text-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}


@media (min-width: 770px ) {
  header{
    background-color: black;
  }
}
